<div class="center-container">
    <div class="cards-wrapper">
        @for(repo of repos; track repo.id) {
            <mat-card>
                <mat-card-header>
                    <h6>{{ repo.name || 'N/A' }}</h6>
                </mat-card-header>
                <mat-card-content>
                    <div class="mb-3">
                        <span>{{ repo.description || 'N/A' }}</span>
                    </div>
                </mat-card-content>
            </mat-card>
        }
    </div>
</div>